<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Object Detection - Neoxider</title>
    <link rel="icon" href="https://example.com/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script>
        function showLoading() {
            document.getElementById("loading").style.display = "block";
        }
    </script>
</head>
<body>
    <header>
        <h1>Neoxider</h1>
        <nav>
            <a href="{{ url_for('index') }}">Home</a>
            <a href="{{ url_for('about') }}">About</a>
        </nav>
    </header>
    <div class="overlay"></div>
    <div class="container">
        <h2>Object Detection</h2>
        <p>Welcome to Neoxider's Object Detection platform. Upload an image or enter a URL to detect objects using advanced AI technology.</p>
        <form action="{{ url_for('detect') }}" method="post" enctype="multipart/form-data" onsubmit="showLoading()">
            <input type="file" name="image" accept="image/*" required>
            <label>
                <input type="checkbox" name="show_image"> Show Image with Boxes
            </label>
            <button type="submit">Upload</button>
        </form>
        <h2>Or Enter Image URL for Object Detection</h2>
        <form action="{{ url_for('detect_url') }}" method="post" onsubmit="showLoading()">
            <input type="text" name="url" placeholder="Enter image URL" required>
            <label>
                <input type="checkbox" name="show_image"> Show Image with Boxes
            </label>
            <button type="submit">Detect from URL</button>
        </form>
        <div id="loading" style="display:none;">
            <img src="https://steamuserimages-a.akamaihd.net/ugc/1867333336885920963/5C738FA2908C3446C9BFB31835A0A83D31AA2D20/?imw=512&amp;imh=287&amp;ima=fit&amp;impolicy=Letterbox&amp;imcolor=%23000000&amp;letterbox=true" alt="Loading...">
            <h2 id="loading-text">Пожалуйста, подождите, я ищу...</h2>
        </div>
    </div>
</body>
</html>
